.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .action {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
