.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .footer {
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 100%);

    .info {
      position: absolute;
      bottom: 100px;
      left: 32px;
      width: 800px;

      @media (max-width: 768px) {
        width: 180px;
      }

      .name {
        font-size: 6rem;
        font-weight: bold;
        color: var(--color-base-white);
        text-align: left;

        @media (max-width: 1020px) {
          font-size: 4rem;
        }

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }

    .logo {
      position: absolute;
      bottom: 100px;
      right: 32px;
      width: 360px;

      @media (max-width: 768px) {
        width: 132px;
      }
    }

    .actions {
      position: absolute;
      bottom: 32px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-inline: 32px;

      .share {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
      }
    }
  }
}
